<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="list">Employees</a>
            </li>
            <li>
                <a routerLink="edit/0">Add/Edit Employee</a>
            </li>
        </ul>
    </nav>
    <div class="lds-roller" *ngIf="showLoadingIndicator">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <router-outlet></router-outlet>
</div>